<!DOCTYPE html>
<head>
    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="董荣萃" />
    
<header>
  <div class="menu">
      <div class="submenu">
          <a class="extra" href="/">科学狂人</a>
          <a href="/">首页</a>
      </div>
  </div>
</header>
    
    
    <title>{{ page.title }}</title>
   <!-- Typekit -->
</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">

<!-- Old title
<div class="title">
  <a href="/">董荣萃</a>
    <a class="extra" href="/">首页</a>
  </div>
-->
  {{ content }}
  
</div>

<div class="footer">
	<div class="contact">
		<p>
		董荣萃 <br>
		HFI 科学狂人社创始人之一 <br>
		carldong76@gmail.com
		</p>
	</div>
</div>

<!--Video.js Start-->
	<link href="/css/video-js.css" rel="stylesheet">
	<script src="/javascripts/video.js" ></script>
	<script>
	    _V_.options.flash.swf = "/flashplayer/video-js.swf"
	</script>
<!--Video.js End-->

<!--Creative Commons Start-->
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh">
<img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>
<br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.zh">
知识共享署名-非商业性使用-相同方式共享 3.0 Unported许可协议</a>进行许可。
<!--Creative Commons End-->
</body>
</html>
